    /* This file is organized as follows:
                FONTS
                COLORS
                STRUCTURE
            */

/* FONTS */
          header,
          nav,
          article,
          aside,
          figure,
          footer {

            background: white;

            border-radius: 15px;

            color: black;

            font-family: 'Barlow', sans-serif;

            font-size: 14px;

            text-align: left;

            padding: 15px;

            margin-bottom: 0px;

          }
          h3{
            line-height: 1; font-weight: 900px;
        }
        

/* COLORS */

            h2{
              color: dimgray;
              border-bottom: 4px solid dimgray
            }



/* STRUCTURE */   
         
            article{
              float: left;
              width: 500px;
              margin: 10px;
            }
            aside {
              float: left;
              width: 500px;
              margin: 10px;
            }
            section{
                line-height: 1.5; padding-bottom: 2rem;
            }
            
            nav ul {
                display: flex;
                list-style: none;
              }

  /* breadcrumb structure */
            .breadcrumb {
                display: flex;
                list-style: none;
            }

            .breadcrumb li {
                padding: 10px;
              }
            
              .breadcrumb li:after {
                content: '/';
                margin-left: 20px
              }
            
              .breadcrumb li:last-child:after {
                content: '';
              }

              .breadcrumb a {
                color: black;
                text-decoration: none;
              }
              
              .breadcrumb a:hover {
                text-decoration: underline;
              }

            #SkillsList {
                list-style: none;
                text-align: left
              }

  /* form structure */
            
            
            label {
            
              font-size: 20px;
            
            }
            
            div {
            
              margin-bottom: 30px;
            
            }
            
            input,
            
            textarea {
            
              border: 0;
            
              border-bottom: 1px solid gray;
            
              padding: 10px 0;
            
              width: 300px;
            
            }
    
  /* artworks structure */
            .toppicture{
              float: left
            }
            .entry{
              width: 220px;
              float: left;
              margin: 10px;
              height: 198px;
            }
            figure{
              display: block;
              width: 202px;
              height: 170px;
              margin: 0px;
              padding: 9px;
              text-align: left;
            }
              figure img{
                width: 200px;
                height: 150px;
                border: 1px solid white;
              }
              figcaption{
                padding-left: 20px;
              }